.filter-item__categories-list {
    max-height: 250px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--bg-soft);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--gray-2);
        border-radius: 2px;
    }

    &-item {
        &.hidden {
            display: none;
        }
    }
}