@use '@styles/common/mixins/thin-scrollbar.scss' as thin-scrollbar;

.filter-item-tag {
    .filter-item__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__list {
        max-height: 350px;
        overflow-y: auto;
        list-style: none;

        @include thin-scrollbar.thin-scrollbar;

        &-item {
            &--empty {
                text-align: center;
                font-size: 0.875rem;
                color: var(--text-1);
                display: none;
            }

            &.hidden {
                display: none;
            }
        }
    }

    &__load-more {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__no-search {
        font-size: 0.875rem;
        color: var(--red-1);
    }

    &.empty {
        .filter-item-tag {
            &__list {
                &-item {
                    display: none;

                    &--empty {
                        display: block;
                    }
                }
            }
        }
    }
}
