.filter-item {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--text-1);
    }

    &__content {
        padding-right: 0.5rem;
    }
}