.header {
    padding: 1rem 0;
    background: var(--bg-elv);
    box-shadow: var(--shadow-1);

    &__content {
        width: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--text-1);
        text-decoration: none;
        transition: color 0.2s;

        .icon {
            width: 2rem;
            height: 2rem;
            color: var(--red-1);
        }
    }

    .theme-toggler {
        margin-left: auto;
        padding: 0.5rem 1rem;
    }
}