.admin-page-pattern-author-social-list {
    &__socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;

        &-icon {
            width: 2rem;
            height: 2rem;

            &--instagram {
                width: 1.6rem;
                height: 1.6rem;
            }

            &--telegram {
                width: 1.7rem;
                height: 1.7rem;
            }

            &--site {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}
