.theme-toggler {
    background-color: var(--bg-elv);
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-2);
    outline-color: var(--red-2);

    &:hover {
        color: var(--red-1);
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        transition: color 0.3s ease;

        &--sun {
            display: none;
        }
    }
}


.dark {
    .theme-toggler {
        &__icon {
            &--sun {
                display: block;
            }

            &--moon {
                display: none;
            }
        }
    }
}
