.fetch-select {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    position: relative;

    &__label {
        font-size: 0.875rem;
        color: var(--text-2);
        margin-top: auto;
    }

    &__hidden-select {
        display: none;
    }

    &__content {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__input {
        padding: 0.75rem 1rem;
        border: 1px solid var(--gray-soft);
        border-radius: 0.5rem;
        background-color: var(--bg);
        color: var(--text-1);
        font-size: 1rem;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-background-clip: text;
            -webkit-text-fill-color: var(--text-1);
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px var(--bg);
        }

        &:focus {
            outline: none;
            border-color: var(--gray-1);
            box-shadow: var(--shadow-1);
        }

        &::placeholder {
            color: var(--text-3);
        }

        &:disabled {
            background-color: var(--bg-soft);
            cursor: not-allowed;
        }
    }

    &__errors {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        list-style: none;
    }

    &__error {
        font-size: 0.875rem;
        color: var(--red-1);

        &:first-child {
            margin-top: 0.25rem;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--bg);
        border: 1px solid var(--gray-1);
        border-radius: 0.5rem;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
    }

    &__item {
        padding: 0.75rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: var(--text-1);

        &:hover {
            background-color: var(--bg-alt);
        }
    }

    &__loading {
        color: var(--text-1);
        width: 1rem;
        height: 1rem;
        border: 2px solid var(--gray-soft);
        border-radius: 50%;
        border-top-color: var(--text-1);
        animation: loadingY50 1s linear infinite;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        color: var(--bg);
        background-color: var(--bg);
    }

    &__selected {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 100%;

        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.25rem 0.5rem;
            border: 1px solid var(--gray-soft);
            border-radius: 0.5rem;
            background-color: var(--red-2);
            color: var(--text-on-dark-1);
            font-size: 0.875rem;
            gap: 0.5rem;

        }

        &-remove {
            position: relative;
            width: 1rem;
            height: 1rem;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: color 0.3s ease;
            color: var(--text-on-dark-1);

            &:hover {
                color: var(--text-on-dark-2);
            }

            &::before,
            &::after {
                content: "";
                width: 80%;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                background-color: currentColor;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &--open {
        .fetch-select__input {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            box-shadow: none;
            border-bottom: none;
            border-color: var(--gray-1);
        }

        .fetch-select__list {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &--no-results {
        .fetch-select__input {
            border-color: var(--yellow-1);
            animation: shake 0.5s ease-in-out;
        }
    }
}
