.admin-page-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    &__title-area {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        flex-grow: 1;
    }

    &__title {
        color: var(--text-1);
        font-size: 2rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .select {
            &__option {
                text-align: center;
            }
        }
    }
}