.link {
    color: var(--red-2);
    font-weight: 500;
    text-decoration: none;
    margin-right: auto;
    outline-color: var(--red-2);

    &:hover {
        color: var(--red-1);
        text-decoration: underline;
    }
}
