@use '@styles/components/input/text.scss';
@use '@styles/common/mixins/thin-scrollbar.scss' as thin-scrollbar;

.fetch-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    position: relative;

    &__select {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        pointer-events: none;
        opacity: 0;
    }

    &__input {
        width: 100%;
    }

    &__label {
        @extend .input-text__label;
    }

    &__options {
        @include thin-scrollbar.thin-scrollbar;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        list-style: none;
        border: 1px solid var(--gray-soft);
        box-shadow: var(--shadow-1);
        border-radius: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--bg-elv);
        transform: translate(0, calc(100% + 0.5rem));
        z-index: 1;
        color: var(--text-1);
        max-height: 350px;
        overflow-y: auto;
    }

    &__option {
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        outline-color: var(--gray-soft);
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        &:hover,
        &:focus {
            background-color: var(--bg-alt);
        }

        &-check {
            margin-left: auto;
        }

        &--active {
            color: var(--red-2);
        }
    }
}
