.pattern-list-item {
    background-color: var(--bg-elv);
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-soft);
    position: relative;
    // background-color: #000;

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    &__rating-stars {
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 1;
        box-shadow: var(--shadow-1);
    }

    &__floating-actions {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    &__floating-action {
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: none;
        z-index: 3;
        background-color: var(--bg);

        &:hover {
            color: var(--red-2);
        }

        .icon {
            width: 1rem;
            height: 1rem;
        }
    }

    &__image {
        width: 100%;
        height: 12rem;
        overflow: hidden;
        position: relative;
        padding-top: 56.25%;
        color: var(--text-1);

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;

            &--active {
                display: block;
            }
        }
    }

    &__image-placeholder {
        width: 100%;
        height: 12rem;
        background-color: var(--bg-soft);
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            width: 3rem;
            height: 3rem;
            color: var(--text-3);
        }
    }

    &__content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1rem;
    }

    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--text-1);
    }

    &__categories,
    &__tags,
    &__authors {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        z-index: 3;
    }

    &__category {
        background-color: var(--red-soft);
        color: var(--red-1);

        &:hover {
            border-color: var(--red-1);
        }
    }

    &__author {
        background-color: var(--indigo-soft);
        color: var(--indigo-3);

        &:hover {
            border-color: var(--indigo-3);
        }
    }

    &__downloads {
        z-index: 3;
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: auto;
    }

    &__download {
        flex-grow: 1;
        gap: 0.5rem;

        &-text {
            flex-grow: 1;
        }

        &-icon {
            width: 1.2rem;
            height: 1.2rem;

            &--download {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    &__meta {
        border-top: 1px solid var(--border);
        color: var(--text-2);
        z-index: 3;

        &-item {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
        }
    }

    &:hover {
        box-shadow: var(--shadow-2);
    }
}
