.pattern-reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-1);
    }

    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    &__review {
        background-color: var(--bg);
        border-radius: 0.75rem;
        padding: 1.5rem;
        border: 1px solid var(--gray-soft);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        &-reviewer {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &-name {
                font-weight: 500;
                color: var(--text-1);
            }

            &-rating {
                padding: 0;

                .icon {
                    width: 0.9rem;
                    height: 0.9rem;
                }
            }
        }

        &-body {
            color: var(--text-2);
            line-height: 1.5;
        }

        &-date {
            font-size: 0.875rem;
            color: var(--text-3);
        }
    }
}
