// common styles

@use '@styles/common/colors.scss' as *;
@use '@styles/common/animations.scss' as *;

// common components

@use '@styles/components/checkbox/checkbox.scss' as checkbox;
@use '@styles/components/input/text.scss' as input-text;
@use '@styles/components/input/image.scss' as input-image;
@use '@styles/components/select/select.scss' as select;
@use '@styles/components/select/fetch.scss' as select-fetch;

@use '@styles/components/button/button.scss' as button;
@use '@styles/components/button/button-ghost.scss' as button-ghost;
@use '@styles/components/button/button-link.scss' as button-link;

@use '@styles/components/link/link.scss' as link;
@use '@styles/components/link/link-button-default.scss' as link-button-default;
@use '@styles/components/link/link-button-ghost.scss' as link-button-ghost;

@use '@styles/components/badge/badge.scss' as badge;
@use '@styles/components/badge/link.scss' as badge-link;
@use '@styles/components/badge/button.scss' as badge-button;

@use '@styles/components/theme-toggler/theme-toggler.scss' as theme-toggler;

@use '@styles/components/loader/spin.scss' as loader-spin;

@use '@styles/components/pagination/cursor.scss' as pagination-cursor;

@use '@styles/components/header/header.scss' as header;
@use '@styles/components/header/auth.scss' as header-auth;

@use '@styles/common/classes.scss' as common-classes; // it is important to be at the end of component import list to rewrite component styles

// admin specific components

@use '@styles/components/sidebar/sidebar.scss' as sidebar;
@use '@styles/components/sidebar/menu.scss' as sidebar-menu;

@use '@styles/components/admin/page-header/header.scss' as admin-page-header;

@use '@styles/components/admin/sidebar/filters.scss' as admin-sidebar-filters;

@use '@styles/components/admin/form/create.scss' as admin-form-create;
@use '@styles/components/admin/form/edit.scss' as admin-form-edit;

@use '@styles/components/page-notifications/page-notifications.scss' as page-notifications;

@use '@styles/components/table/table.scss' as table;
@use '@styles/components/table/head.scss' as table-head;
@use '@styles/components/table/footer.scss' as table-footer;
@use '@styles/components/table/tr.scss' as table-tr;
@use '@styles/components/table/th.scss' as table-th;
@use '@styles/components/table/th-actions.scss' as table-th-actions;
@use '@styles/components/table/td.scss' as table-td;
@use '@styles/components/table/td-actions.scss' as table-td-actions;
@use '@styles/components/table/td-bool.scss' as table-td-bool;
@use '@styles/components/table/overflow-x-container.scss' as table-overflow-x-container;
@use '@styles/components/table/empty.scss' as table-empty;


@use '@styles/components/modal/modal.scss' as modal;

@use '@styles/components/form/confirm.scss';

@use '@styles/layouts/admin.scss' as admin-layout;

@use '@styles/pages/admin/page.scss' as admin-page;
@use '@styles/pages/admin/page-list.scss' as admin-page-list;
@use '@styles/pages/admin/page-single.scss' as admin-page-single;

// @use '@styles/pages/admin/pattern/list.scss' as admin-page-pattern-list;
// @use '@styles/pages/admin/pattern/edit.scss' as admin-page-pattern-edit;
// @use '@styles/pages/admin/pattern/create.scss' as admin-page-pattern-edit;

@use '@styles/common/mixins/thin-scrollbar.scss' as thin-scrollbar;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include thin-scrollbar.thin-scrollbar;

    font-family: "instrument-sans", sans-serif;
    background: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

[x-cloak] {
    display: none !important;
}
