.page-pattern-list {
    &__search-form {
        width: 100%;
    }

    &__search {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;

        .filter-item--search {
            flex-grow: 1;
            margin-bottom: 0;

            .filter-item {
                &__content {
                    padding: 0;
                }
            }
        }
    }
}
