.page-single-pattern {
    padding: 1rem calc(50% - 600px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-1);
    }

    &__source {
        display: inline-flex;

        &-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
        }
    }

    &__categories,
    &__tags,
    &__authors {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &-title {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--text-1);
        }
    }

    &__categories {
        &-item {
            background-color: var(--red-soft);
            color: var(--red-1);
             outline-color: var(--red-2);

            &:hover {
                border-color: var(--red-1);
            }
        }
    }

    &__authors {
        &-item {
            background-color: var(--indigo-soft);
            color: var(--indigo-3);
             outline-color: var(--indigo-3);

            &:hover {
                border-color: var(--indigo-3);
            }
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    &__images {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;

    }

    &__image {
        border-radius: 0.5rem;
        overflow: hidden;
        aspect-ratio: 16/9;
        outline-color: var(--red-2);

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__videos {
        width: 100%;

        &-title {
            font-size: 1.25rem;
            font-weight: 600;
            color: var(--text-1);
            margin-bottom: 1rem;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;
        }
    }

    &__video {
        border-radius: 0.5rem;
        overflow: hidden;
        aspect-ratio: 16/9;
        background-color: var(--bg-soft);

        &-iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    &__actions {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__download {
        gap: 0.5rem;

        &-text {
            flex-grow: 1;
        }

        &-icon {
            width: 1.2rem;
            height: 1.2rem;

            &--download {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}
