.button {
    border: none;
    background-color: var(--red-2);
    color: var(--button-text-1);
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline-color: var(--red-1);
    gap: 0.5rem;

    &:hover {
        background-color: var(--red-on-dark-3);
    }
}
