.no-transition {
    * {
        transition: none !important;

        &::before,
        &::after {
            transition: none !important;
        }
    }
}

.dn {
    display: none;
}

.text {
    &-right {
        text-align: right;
    }

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }
}

.w {
    &-full {
        width: 100%;
    }
}
