.forgot-password-form {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
    box-shadow: var(--shadow-1);
    border: 1px solid var(--gray-soft);
    border-radius: 1rem;

    .alert {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: var(--gray-soft);
        color: var(--gray-dark);
    }
}