.admin-page--pattern {
    .tooltip {
        &--categories {
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
        }
    }

    .pattern-image {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 0.5rem;
    }

    .image-placeholder {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--gray-1);
        background-color: var(--gray-soft);
        border-radius: 0.5rem;
        margin: 0 auto;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}