.input-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__label {
        font-size: 0.875rem;
        color: var(--text-2);
        display: inline-flex;
        align-items: center;
        gap: 0.5em;

        &.required {
            &::after {
                content: "*";
                color: var(--red-2);
            }
        }

        .icon {
            width: 1em;
            height: 1em;
        }
    }

    &__input {
        padding: 0.75rem 1rem;
        border: 1px solid var(--gray-soft);
        border-radius: 0.5rem;
        background-color: var(--bg);
        color: var(--text-1);
        font-size: 1rem;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-background-clip: text;
            -webkit-text-fill-color: var(--text-1);
            transition: background-color 5000s ease-in-out 0s;
            box-shadow: inset 0 0 20px 20px var(--bg);
        }

        &:focus {
            outline-color: var(--gray-1);
            border-color: var(--gray-1);
            box-shadow: var(--shadow-1);
        }

        &::placeholder {
            color: var(--text-3);
        }

        &:disabled {
            background-color: var(--bg-soft);
            cursor: not-allowed;
        }
    }

    &__errors {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        list-style: none;
    }

    &__error {
        font-size: 0.875rem;
        color: var(--red-1);
    }
}
