.admin-page-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__header {
        width: 100%;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        >.table-overflow-x-container {
            flex-grow: 1;
        }
    }

    &__filters {
        max-width: 290px;
    }

    &__table-container {
        flex-grow: 1;
    }

    &__pagination {
        width: 100%;
        justify-content: center;
    }

    &__filters-toggler {

        &--has-active-filters,
        &--active {
            color: var(--red-2);
        }
    }
}
