.admin-page-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &__header {
        width: 100%;
    }

    &__content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        >.admin-form-create {
            flex-grow: 1;
        }

        >.admin-form-edit {
            flex-grow: 1;
        }
    }

    &__grid {
        width: 100%;
        display: grid;
        gap: 1rem;

        &--2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &--3 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
