.sidebar-menu__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: var(--text-1);
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 500;

    &:hover {
        color: var(--red-1);
    }

    &.sidebar-menu__item--active {
        color: var(--red-3);

        &:hover {
            color: var(--red-1);
        }
    }

    &-icon {
        color: currentColor;
        width: 1rem;
        height: 1rem;
    }
}
