.sidebar-menu__list {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 0.5rem;
        background-color: var(--bg-elv);

        >.sidebar-menu__item {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            color: var(--text-1);
            text-decoration: none;
            flex-grow: 1;

            &:hover {
                color: var(--red-1);
            }
        }

        &-toggle {
            background-color: transparent;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            color: var(--text-1);
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.5rem;

            &-icon {
                transition: transform 0.3s ease;
            }

            &:hover {
                color: var(--red-1);
            }

            &--active {
                .sidebar-menu__list-header-toggle-icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &-items {
        display: none;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
        padding-left: 1rem;

        &--active {
            display: block;
        }

        .sidebar-menu__item {
            border-radius: 0;
            border-left: 1px solid var(--text-2);
            padding-left: 1.25rem;
            margin-left: 0.25rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                width: 0.5rem;
                height: 1px;
                background-color: var(--text-2);
                border-radius: 50%;
            }

            &:last-child {
                &::after {
                    content: '';
                    position: absolute;
                    height: calc(50% - 1px);
                    width: 1px;
                    background-color: var(--bg-elv);
                    bottom: 0;
                    left: -1px;
                }
            }
        }
    }
}
