.admin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--hidden {
        display: none;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        opacity: 0.9;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--bg-elv);
        border-radius: 1rem;
        border: 1px solid var(--gray-soft);
        box-shadow: var(--shadow-1);
        min-width: 290px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--gray-soft);
        width: 100%;
        color: var(--text-1);
    }

    &__title {
        font-size: 1rem;
        font-weight: 400;
        color: inherit;
        flex-grow: 1;
    }

    &__body {
        padding: 1rem;
        width: 100%;
    }

    &__close {
        position: relative;
        width: 1.3rem;
        height: 1.3rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
        color: inherit;

        &:hover {
            color: var(--text-2);
        }

        &::before,
        &::after {
            content: "";
            width: 80%;
            height: 2px;
            border-radius: 1px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            background-color: currentColor;
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}