.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        opacity: 0.9;
        cursor: pointer;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--bg-elv);
        border-radius: 0.75rem;
        border: 1px solid var(--gray-soft);
        box-shadow: var(--shadow-1);
        min-width: 290px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--gray-soft);
        width: 100%;
        color: var(--text-2);
        padding-left: 1rem;
    }

    &__title {
        font-size: 1rem;
        font-weight: 400;
        color: inherit;
        flex-grow: 1;
    }

    &__body {
        padding: 1rem;
        width: 100%;
    }

    &__close {
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: color 0.3s ease;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        color: var(--text-3);
        margin-left: auto;

        &-icon {
            width: 0.75rem;
            height: 0.75rem;
        }

        &:hover {
            color: var(--red-2);
        }
    }
}
