.page {
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        .patterns {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            width: 100%;
        }
    }
}
