.admin-layout {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    &__header {
        border-radius: 0.75rem;
        width: 100%;
    }

    &__sidebar {
        max-width: 290px;
    }

    &__body {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
    }

    &__notifications {
        flex-grow: 1;
        width: 100%;
    }
}
