.admin-layout {
    flex-grow: 1;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
