.table__action {
    padding: 0.75rem 1rem;
    display: inline-flex;
    margin-right: 0.5rem;
    transition: border-color 0.3s ease;

    &-icon {
        transition: color 0.3s ease;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: var(--bg);
        color: var(--red-2);
        border-color: var(--red-2);
    }

    &--edit {
        .table__action-icon {
            position: relative;
            left: 2px;
            bottom: 1px;
        }
    }

    &--delete {
        &:hover {
            color: var(--red-3);
        }
    }
}
