@use '@styles/common/mixins/thin-scrollbar.scss' as thin-scrollbar;

.table-overflow-x-container {
    @include thin-scrollbar.thin-scrollbar;

    overflow-x: auto;
    border: 1px solid var(--gray-soft);
    border-radius: 1rem;
    box-shadow: var(--shadow-1);

    .table {
        width: 100%;
        border: none;
        border-radius: 0;
        box-shadow: none;

        &-header {
            white-space: nowrap;
        }

        &-data {
            white-space: nowrap;
        }
    }
}
