@use '@styles/components/table/td.scss';

.table-data-bool {
    @extend .table-data;

    color: var(--green-3);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    &__dot {
        background-color: currentColor;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
    }

    &--negative {
        color: var(--red-2);
    }
}
