@use '@styles/components/table/td.scss';

.table-data-clamp {
    @extend .table-data;
    min-width: 150px;
    max-width: 450px;

    &__text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
