@use '@styles/components/table/td.scss';

.table-data-image {
    @extend .table-data;

    padding: 0;

    &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__image-placeholder {
        width: 4rem;
        height: 4rem;
        color: var(--gray-1);
    }

    &__image {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}
