.table-data {
    padding: 1rem;
    color: var(--text-1);
    text-align: center;
    border-bottom: 1px solid var(--gray-soft);

    .text {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
}
