.table__data {
    padding: 1rem;
    color: var(--text-1);
    text-align: center;
    border-bottom: 1px solid var(--gray-soft);

    &-actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
    }

    .text {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }

    &--actions {
        text-align: right;
    }
}
