.pagination {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__button {
        user-select: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.75rem 1.25rem;

        &[href='#'] {
            opacity: 0.5;
            pointer-events: none;
        }

        &-icon {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
