.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
    color: var(--text-1);

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;

        &+.checkbox__custom {
            position: relative;
            cursor: pointer;
            font-size: 1rem;
            color: var(--text-2);
            display: flex;
            align-items: center;

            &:before {
                content: '';
                width: 20px;
                height: 20px;
                border: 2px solid var(--gray-3);
                border-radius: 4px;
                background: var(--bg-elv);
                transition: all 0.2s ease;
                margin-right: 0.5rem;
            }

            &:after {
                content: '';
                position: absolute;
                left: 7px;
                top: 3px;
                width: 6px;
                height: 12px;
                border: solid var(--bg-elv);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
                transition: all 0.2s ease;
            }
        }

        &:checked+.checkbox__custom:before {
            background: var(--red-1);
            border-color: var(--red-1);
        }

        &:checked+.checkbox__custom:after {
            opacity: 1;
        }

        &:hover+.checkbox__custom:before {
            border-color: var(--red-2);
        }
    }
}
